@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Gsc Pawn Shop</h1>
    <p>Gsc Pawnshop Inc. is one of the best Pawn Shops in Gatineau, Quebec. It is a local Ottawa-Hull-Gatineau located
        in the old part of Gatineau's old village on the Ottawa River. The shop provides short term money loans against
        valuable goods with resale potential. Gsc Pawn shop. has everything like tools, bikes, DVDs, used music
        instruments, sporting goods. They provide prompt, professional & courteous service.</p>
    <div class="head">
        <p><strong> SPECIALTY:</strong></p>
        Jewellery, Rings, Earrings, Bracelets, Chain, Charms, Coins, Silver, Diamond, Electronic, Laptops, Computer,
        DVD, Musical Instruments, Guitars, PS4, Tool Kit, Driller, Stereo, Helmets, Commercial Microwave, Boat Motor,
        Television, Amps, Speakers, Chainsaw, XBOX, Compresseur & Sewing Machine
    </div>
    <p></p>
    <div class="head1">
        <p><strong>YOUR SATISFACTION:</strong></p>
        Upon purchasing a product,&nbsp;our team then follows up with a detailed inspection of all items ensuring
        our customers will later receive quality goods from our store.&nbsp;All these products are then researched
        to find the exact value in the current market to be priced fairly. We also wash and clean everything that
        comes threw our door.We do this to allow your shopping experience to feel more at ease.&nbsp;We also
        give a full 30-day warranty on all our products in case of any issues that may arise even after our rigorous
        testing.&nbsp;
    </div>
    <p></p>
    <div class="head2">
        <p><strong>OUR SERVICES:</strong></p>
        We haven't invented the services, we perfected it!&nbsp; As leaders, innovators of customer service, we have set
        industry standards, continually improving and implementing higher standards for our industry and our
        customers!<br>
        Our location combines a wide range of financial services with a client-centered philosophy. On this site, we'll
        provide information about our company and describe the different services we offer. We hope you'll find the
        information you need, and we look forward to working with you.
    </div>

    <p>
        <a href="mailto:Gscpawnpawnshop@gmail.com?">Reach Us:
            Gscpawnshop@gmail.com</a>
    </p>
    <p class="text">
        <span>
            Bring us Your<strong> GOLD & SILVER</strong> for the <strong>BEST PRICES</strong> Guaranteed!
        </span>
    </p>
</div>
</div>
