@page
@model LocationModel
@{
    ViewData["Title"] = "Store Location";
}
<h1>@ViewData["Title"]</h1>

@* <p><strong>Store Location.</strong></p> *@
<div class="lo">
    374 Rue Notre-Dame,
    Gatineau Qc J8P 1L5
    <p>Phone: 819-663-7868</p>
    <p><a href="mailto:Gscpawnpawnshop@gmail.com?">Email:
            Gscpawnshop@gmail.com</a></p>

    <p>Hour: Monday - Sunday 10.00 a.m. - 9.00 p.m.</p>
</div>
